name: Build and Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Build with sbt
      run: sbt compile

    - name: Start Akka HTTP server
      run: sbt 'runMain com.csye7200.cts.app.TicketAgencyApp'

    - name: Start Docker Compose
      run: docker-compose up -d

    - name: Wait for Cassandra to start
      run: sleep 30s  


    - name: Run Gatling tests
      run: sbt 'Gatling/test'
